.main
{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 100vw;
   
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.nav
{
    display: flex;
    gap: 200px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid black;
}
.logo
{
    width: 70px;
    height: 70px;
}
.left
{
    display: flex;
    align-items: center;
}
.right
{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 50px;
}
.contactbtn
{
    background-color: #7fa2ff;
    border-radius: 30px;
    padding: 10px 16px;
    border: none;
    font-size: 1.5rem;
}
.mobnav
{
    display: none;
}

@media (max-width:1000px)
{
    .container
    {
        display: none;
    }
    .mobnav
    {
        display: flex;
        flex-direction: column;

    }
    .holder
    {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        padding: 0px 10px;
        background-color: white;
        backdrop-filter: blur(100px);
    }
    .moblogo
    {
        width: 50px;
        height: 50px;
    }
    .mobtitle
    {
        color: #7fa2ff;
    }
    .links
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top:10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 0px;
        padding-bottom: 30px;

    }
    .link
    {
        font-size: 0.8rem;
    }
    .hambtn
    {
        background-color: transparent;
        border: none;
    }
    
}